.sections_nav {
  border-bottom: 1px solid $light-gray;
  font-family: $sans-serif;
  font-size: 12px;
}

.sections_nav ul {
    margin: 10px 100px;
    display: flex;
    justify-content: space-around;
}

.sections_nav ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.sections_nav ul li:hover {
    background-color: $light-gray;
}

.sections_nav ul li:last-of-type {
  text-transform: uppercase;
}

.sections_nav ul li:last-of-type:hover {
  text-transform: uppercase;
  text-decoration: underline;
  background: transparent;
}

@media all and (max-width: 1000px) {
  .sections_nav {
    display: none;
  }
}