<section id="overlay" class="overlay hidden">
    <form class="overlay-form" action="#">
        <input class="overlay-form input" type="text"  value="Lorem Ipsum Dolor">
        <button>GO</button>
    </form>
</section>